<%= form_with(model: fichier, local: true) do |form| %>
  <% if fichier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fichier.errors.count, "error") %> prohibited this fichier from being saved:</h2>

      <ul>
      <% fichier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chemin %>
    <%= form.text_field :chemin, :required => true %>

    <p> Selectiponner une enquête </p>
    <input list="fic" type="text" name="survey_id" id="survey_id" value="<%= @fichier.survey.try(:title) %>" required>
    <datalist id="fic">
      <% @surveys.each do |survey| %>
        <option value = "<%= survey.id %>" > <%= survey.try(:title) %> </option>
      <% end %>
    </datalist>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
