<h1>New Request</h1>

<div class="field">
    <textarea rows = "5" cols = "50" name = "sel1" disabled="disabled">
            <% if !@selected.nil? %>
              <% @selected.each do |selecte| %>
                <%= selecte.chemin %>
              <% end %>
            <% end %>
    </textarea>
  </div>

<div class="field">
  <%= form_tag "/requests/new", method: "post" do %>
  	<p> Selectiponner un fichier</p>
    <input list="fic" type="text" name="choix_fichier">
    <datalist id="fic">
      <% @fichiers.each do |fichier| %>
        <option value = "<%= fichier.id %>" > <%= fichier.chemin %> </option>
      <% end %>
    </datalist>
    <input type="submit" value="Ajouter un fichier" />
  <% end %>
</div>

<%= render 'form', request: @request %>

<%= link_to 'Back', requests_path %>
