<p id="notice"><%= notice %></p>

<h1>Enquêtes</h1>

<div class="panel">
<table class="table">
  <tbody>
    <% @surveys.each do |survey| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="abstract">
          <h1><%= survey.title %></h1>
          <p>
            <%= survey.abstract %>
          </p>
        </td>
        <td class="actions">
          <ul>
        <li><%= link_to 'Show', @survey %></li>
        <% if can? :manage, @survey %>
          <li><%= link_to 'Edit', edit_survey_path(survey) %></li>
          <li><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Survey', new_survey_path %>
