<p id="notice"><%= notice %></p>

<div class="page_title">
  <h1>Enquêtes</h1>
</div>

<div class="panel">
<table class="table">
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td class="abstract">
          <h3><%= survey.title %></h3>
          <p>
            <%= survey.abstract %>
          </p>
        </td>
        <td class="actions">
          <ul>
        <li><%= link_to 'Voir', survey %></li>
        <% if can? :manage, @survey %>
          <li><%= link_to 'Modifier', edit_survey_path(survey) %></li>
          <li><%= link_to 'Supprimer', survey, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% if can? :manage, Survey %>
  <center>
  <%= link_to 'Nouvelle Enquête', new_survey_path, :class => "bouton_bas menu" %>
  </center>
<% end %>