<!DOCTYPE html>
<html lang="fr">
  <head>
    <link href="https://unpkg.com/template.data.gouv.fr@1.2.1/dist/main.min.css" rel="stylesheet">
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar" role="navigation">
      <div class="navbar__container">
        <div class="navbar__container ">
          <a class="navbar__home" href="">
            <img class="navbar__logo" src="/images/progedo.png"
              alt="template.data.gouv.fr" /><span class="haut">Progedo est un service réservé aux personnels des établissements d'enseignement supérieur et de recherche pour demander l'accès à des fichiers d'enquêtes en sciences humaines et sociales</span>
          </a>
        </div>

        <div class="navbar__container">
            <nav class="menu_a_droite">
              <% if user_signed_in? %>
                <ul>
                  <li class="menu"> <%= link_to 'Enquêtes', '#', :class => "menu" %>
                    <ul>
                      <% if can? :manage, @survey %>
                        <li> <%= link_to 'Nouvelle enquête', new_survey_path, :class => "menu" %> </li>
                      <% end %>
                      <li> <%= link_to 'Liste des enquêtes', surveys_path, :class => "menu" %> </li>
                    </ul>
                  </li>

                  <li class="menu"> <%= link_to 'Requêtes', '#', :class => "menu" %>
                    <ul>
                      <% if can? :create, Request %>
                        <li> <%= link_to 'Nouvelle requête', new_request_path, :class => "menu" %> </li>
                      <% end %>
                      <li> <%= link_to 'Liste des requêtes', requests_path, :class => "menu" %> </li>
                    </ul>
                  </li>

                  <li class="menu"> <%= link_to 'Fichiers', '#', :class => "menu" %>
                    <ul>
                      <% if can? :manage, @fichier %>
                        <li> <%= link_to 'Nouveau fichier', new_fichier_path, :class => "menu" %> </li>
                      <% end %>
                      <li> <%= link_to 'Liste des fichiers', fichiers_path, :class => "menu" %> </li>
                    </ul>
                  </li>

                  <% if can? :manage, @user %>
                    <li class="menu"> <%= link_to 'Utilisateurs', '#', :class => "menu" %>
                      <ul>
                          <li> <%= link_to 'Nouvel utilisateur', new_user_path, :class => "menu" %> </li>
                          <li> <%= link_to 'Liste des utilisateurs', users_path, :class => "menu" %> </li>
                      </ul>
                    </li>
                  <% end %>

                  <li class="menu"> <%= link_to current_user.nom_complet, '#', :class => "menu" %>
                    <ul>
                      <li> <%= link_to 'Modifier Profil', edit_user_registration_path, :class => "menu" %> </li>
                      <li> <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, :class => "menu" %> </li>
                    </ul>
                  </li>

                </ul>
              <% else %>
                <ul>
                  <li class="menu"> <%= link_to 'Accueil', surveys_path, :class => "menu" %> </li>
                  <li class="menu"> <%= link_to 'S\'inscrire', new_user_registration_path, :class => "menu" %> </li>
                  <li class="menu"> <%= link_to 'Se Connecter', new_user_session_path, :class => "menu" %> </li>
                </ul>
              <% end %>
            </nav>
        </div>
      </div>
    </header>

    <main class='<%= controller.controller_name %>'>      
      <%= yield %>
    </main>
  </body>
</html>