<!DOCTYPE html>
<html lang="fr">
  <head>
    <link href="https://unpkg.com/template.data.gouv.fr@1.2.1/dist/main.min.css" rel="stylesheet">
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar" role="navigation">
      <div class="navbar__container">
        <a class="navbar__home" href="index.html">
          <img class="navbar__logo" src="/images/progedo.png"
            alt="template.data.gouv.fr" /><span>Progedo est un service réservé aux personnels des établissements d'enseignement supérieur et de recherche pour demander l'accès à des fichiers d'enquêtes en sciences humaines et sociales</span>
        </a>
  
        <nav>
          <ul class="nav__links">
            <li class="nav__item"> <%= link_to 'Demandes', '/requests' %> </li>
            <li class="nav__item"> <%= link_to 'Enquêtes', '/surveys' %> </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
  </body>
</html>
